{% extends 'templates/form_page.twig' %}

{% block mainPanel %}
								<div class="card">
									<div class="card-header">
										Reset your password
									</div>
									<div class="card-body">
										<form action='{{ path_for("auth.password.reset") }}?email={{ email }}&identifier={{ identifier | url_encode }}' method='post' autocomplete='off'>

											<div class='form-group{{ errors.password_new or errors.password_new_confirm == "ConfirmedPasswordMatchesException" ? " has-error" : "" }}'>
												<label class='form-label' for='password_new'>New Password</label>
												<input type='password' name='password_new' id='password_new' class='form-control'>
{% if errors.password_new or errors.password_new_confirm == "ConfirmedPasswordMatchesException" %}
												<span class='help-block'>
{% if errors.password_new == "CharsetException" %}
													Please use only ASCII-compatible characters.
{% elseif errors.password_new == "NotEmptyException" %}
													Set a new password
{% elseif errors.password_new == "LengthException" %}
													Your password must be at least 8 characters long
{% elseif errors.password_new_confirm == "ConfirmedPasswordMatchesException" %}
													Your passwords did not match
{% endif %}
												</span>
{% endif %}
											</div>

											<div class='form-group{{ errors.password_new or errors.password_new_confirm ? " has-error" : "" }}'>
												<label class='form-label' for='password_new_confirm'>Confirm New Password</label>
												<input type='password' name='password_new_confirm' id='password_new_confirm' class='form-control'>
{% if errors.password_new_confirm %}
												<span class='help-block'>
{% if errors.password_new_confirm == "CharsetException" %}
													Please use only ASCII-compatible characters.
{% elseif errors.password_new_confirm == "NotEmptyException" %}
													Re-enter your new password
{% endif %}
												</span>
{% endif %}
											</div>
											<button type='submit' class='btn btn-default'>Set Password</button>

											{{ csrf.field | raw }}
										</form>
									</div>
								</div>
{% endblock %}