<!doctype html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/global/css/html5reset.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/global/css/default.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/global/css/navbar.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/global/css/footer.css" />

		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/auth/css/form_page.css" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{{ base_url() }}/resources/wiki/js/createTableOfContents.js"></script>

		<title>{{ title }}</title>
		<base target="_self">
	</head>
	<body>
		<div id="pageWrapper">
{% include 'templates/partials/navigation.twig' %}
			<main>
				<div id="contentWrapper">
					<div id="content">
						<div id="mainPanelWrapper">
							<div id="mainPanel">
{% include 'templates/partials/flash.twig' %}
<!-- Begin Main Content -->
{% block mainPanel %}{% endblock %}
<!-- End Main Content -->
							</div>
						</div>
					</div> <!-- content -->
				</div> <!-- contentWrapper -->
			</main> <!-- main -->
{% include 'templates/partials/footer.twig' %}
{% include 'templates/partials/sidebar.twig' %}
		</div> <!-- pageWrapper -->
	</body>
</html>