<!doctype html>
<html lang="en-GB">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/stylesheets/html5reset.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/stylesheets/navbar.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/stylesheets/main.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/stylesheets/tableofcontents.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/stylesheets/footer.css" />

		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/stylesheets/input.css" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="{{ base_url() }}/js/createTableOfContents.js"></script>

		<title>{{ title }}</title>
		<base target="_self">
	</head>
	<body>
		<div id="pageWrapper">
{% include 'templates/partials/old_navigation.twig' %}
			<main>
				<div id="contentWrapper">
					<div id="content">
						<div id="mainPanelWrapper">
							<div id="mainPanel">
								<!-- Begin Main Content -->

