			<div id="navbarWrapper">
				<div id="navbar">
					<div id="navbar-brand-wrapper">
						<a id="navbar-brand" {% if page_name == "Home" %}class="active" {% endif %}href="Home">
							My Website
						</a>
					</div>
					<div id="navbar-content-wrapper">
						<div id="navbar-content">
							<ul class="navbar-list">
								<li class="navbar-item navbar-dropdown">
									<a class="navbar-dropbtn{% if page_name == 'Locations' %} active{% endif %}" href="Locations">Locations</a>
									<div class="dropdown-content">
										<a href="Guthan">The Kingdom of Guthan</a>
										<a href="The_Valen_Ministry">The Valen Ministry</a>
										<a href="Dra'akna">Dra'akna</a>
									</div>
								</li>
								<li class="navbar-item">
									<a {% if page_name == "Add_Page" %}class="active" {% endif %}href="Add_Page">Add Page</a>
								</li>
								<li class="navbar-item">
									<a {% if page_name == "About" %}class="active" {% endif %}href="About">About</a>
								</li>
							</ul>
							<ul class="navbar-list navbar-list-right">
		{% if auth.check %}
								<li class="navbar-item navbar-dropdown">
									<a class="navbar-dropbtn" href="#" onclick="return false;">
										{{ auth.user.name }}
									</a>
									<div class="dropdown-content">
										<a href="{{ path_for('auth.password.change') }}">Change Password</a>
										<a href="{{ path_for('auth.signout') }}">Sign Out</a>
									</div>
								</li>
		{% else %}
								<li class="navbar-item dropdown">
									<a href="{{ path_for('auth.signup') }}">Sign up</a>
								</li>
								<li class="navbar-item dropdown">
									<a href="{{ path_for('auth.signin') }}">Sign in</a>
								</li>
		{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div> <!-- headerWrapper -->