<!doctype html>
<html lang="en-GB">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

		<title>{{ formProperties.title }}</title>

		<script type="text/javascript">
			const globalsData = {
				preferredName: {{ ( preferredName | json_encode | raw ) }},
				isAuthenticated: {{ ( isAuthenticated | json_encode | raw ) }},
				formProperties: {{ ( formProperties | json_encode | raw ) }},
				csrfTokens: {{ ( csrfTokens | json_encode | raw ) }},
				csrfHTML: {{ ( csrfHTML | json_encode | raw ) }},
				flash: {{ ( flash | json_encode | raw ) }}
			};
		</script>

		<link rel="stylesheet" type="text/css" href="/stylesheets/base.index.css" />
		<style>
			body {
				background-image: linear-gradient(to bottom, rgba(60, 60, 60, 0.5), rgba(60, 60, 60, 0.5)), url("/images/background.jpg");
				background-size: cover;
			}
		</style>
		<link rel="stylesheet" type="text/css" href="/stylesheets/authentication.index.css" />
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this web app.</noscript>
		<div id="root"></div>
		<div id="portal"></div>
		<script type="text/javascript" src="/javascript/authentication.bundle.js" ></script>
	</body>
</html>
