<!doctype html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<title>Dungeons and Dragons Wiki</title>
		<base target="_self">

		<script type="text/javascript">
			var myApp = {
				auth: {{ (auth|json_encode|raw) }},
				flash: {{ (flash|json_encode|raw) }},
				baseUrl: '{{ (baseUrl|raw) }}'
			}
		</script>

		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/global/css/html5reset.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/global/css/default.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/global/css/navbar.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/global/css/footer.css" />

		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/wiki/css/wiki.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/wiki/css/tableofcontents.css" />

		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/resources/fonts/Adamina.css" />
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id="root"></div>
		<script type="text/javascript" src="/js/wiki.bundle.js" ></script>
	</body>
</html>
